---
---

@import "{{ site.theme }}";

.page-header {
    //text-align: center;
    //background-image: url("https://medibot.com.au/images/main_img.jpg");
    background-image: url("/research-paper/assets/rsz_1background4_img.jpg");
    //background-image: linear-gradient(to bottom right, #FF0000, #FFFF00);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //color: #FFFFFF;
    //font-family: 'Roboto', sans-serif;
    //background-color:  #4a148c;
    //background-image: linear-gradient(120deg, #c2185b, #4a148c);
    //background-image: linear-gradient(to bottom right, #FF0000, #FFFF00);
    //url(main_img.jpg),
    //background-size: cover; \n
   }
//.class {
    //background-image: url("/research-paper/assets/main_img.jpg");
   // background-position: center;
    //background-repeat: no-repeat;
    //background-size: cover;
      
 // }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #FFFFFF;
    color: #000000;
    margin: 0;
    padding: 0;
    }

h2 {
    font-weight: bold;
    text-align: center;
    }

h3 {
    display: inline;
  }
  h3:before {
      content: "\a ";
      white-space: pre;
  }
  
  

a {
    color: #000000;
    text-decoration: none;
    &:hover {
        color: #FF0000;
        text-decoration: underline;
        }
    }




